<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <script> src = "static/style.css"</script>-->
    <link href="/static/style.css" rel="stylesheet">

    <title>Holi</title>
</head>
<body>
<h1>"Hola mundo"</h1>
<h2>"Hola mundo"</h2>
<h3>"Hola mundo"</h3>
<h4>"Hola mundo"</h4>
<h5>"Hola mundo"</h5>
<h6>"Hola mundo"</h6>

<form>
    <p> Esto es un parrafo que hacemos en la clase del profesor Andres para misiónTic 2022</p>
    <button class="button-blue">Boton MisiónTic 2022</button>
    <input type="text" placeholder="texto">
    <input type="password" placeholder="password">
    <input type="date" >
    <input type="number" placeholder="number">

</form>


</body>
</html>